body{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
.tarjeta{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 150px 80px;
    grid-template-areas:"text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(29,77,79,0.9);
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    background-color: #e4fbff;
}
.tarjeta-text {
    grid-area: text;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tarjeta-text .date{
    color: rgb(29, 77, 79);
    font-size: 13px;
}

.tarjeta-text h2{
    margin-top: 0px;
    font-size: 28px;
    color: rgb(29, 77, 79);
}
.tarjeta-stats {
    grid-area: stats; 
    display: flex;
    flex-wrap: nowrap;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(29, 77, 79);
}    
.tarjeta-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.tarjeta-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
}
.tarjeta-stats .value{
    font-size:  22px;
    font-weight: 500;
}
.tarjeta-stats .stat_border{
    border-left: 1px solid rgb(107, 168, 169);
    border-right: 1px solid rgb(107, 168, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: #e4fbff;
}
