.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.form-control {
    padding-left: 30px!important;
}

.hr {
    height: 3px !important; 
    background-color: #357376;
	border-bottom: 1px solid #357376 !important;
}