*{
    margin:0;
    padding:0;
    box-sizing:border-box}

body,html{
    height:100%;
    font-family:sans-serif;
    overflow-y: hidden;
}


input{outline:none;
    border:none}

.container-login100{
    width:100%;
    min-height:100vh;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;}

.wrap-login100{
    width:100%;
    background:#fff;
    overflow:hidden;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}
.login100-form{
    width:660px;
    min-height: 100vh;
    display:block;
    padding:0px 55px 55px}

.login100-form-title{
    width:100%;
    display:block;
    font-family:sans-serif;
    font-size:30px;
    margin-bottom: 20px;
    color:#333;
    line-height:1.2;
    text-align:center}

.wrap-input100{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    width:100%;
    height:50px;
    position:relative;
    border:1px solid #e6e6e6;
    border-radius:10px;
    margin-bottom:10px}

.label-input100{
    font-family:sans-serif;
    font-size:18px;
    color:#999;
    line-height:1.2;
    display:block;
    position:absolute;
    pointer-events:none;
    width:100%;
    padding-left:24px;
    left:0;
    top:30px;}
    
.input100{
    display:block;
    width:100%;
    background:0 0;
    font-family: sans-serif;
    font-size:15px;
    color:#555;
    line-height:1.2;
    padding:0 26px}

input.input100{
    height:100%;
}

.container-login100-form-btn{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center}

.login100-form-btn{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 20px;
    width:200px;
    border: none;
    height:50px;
    border-radius:10px;
    background:#357376;
    font-family:sans-serif;
    font-size:18px;
    color:#fff;}
    
.login100-form-btn:hover{
    background:#6BA8A9;
    color: #000;}

@media(max-width:992px){
    .login100-form{
        width:50%;
        padding-left:30px;
        padding-right:30px}

    .login100-more{
        width:50%}
    }

@media(max-width:768px){
    .login100-form{
        width:100%}
    
    .login100-more{display:none}}

@media(max-width:576px){
    .login100-form{
        padding-left:15px;
        padding-right:15px;
        padding-top:70px}}