.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.form-control {
    padding-left: 30px!important;
}
hr{
    height: 1px;
    color: #357376;
    background-color: #357376;
    border: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.hm {
    color: #fff; background-color: rgba(44, 40, 40, 0.863); width: 45%; border-radius: 10px; box-shadow: 0px 0px 10px black; padding-left: 15px; padding-bottom: 0px; margin-bottom: 20px;
}

@media (max-width: 767.98px) { 
    .hm{width: 80%}
}

@media (max-width: 991.98px) { 
    .hm{width: 70%}
}