{% extends "base.html" %}
{% load static %}
{% load transportAgency_filters %}

{% block title %}Buses{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'transportAgency/css/bustable.css' %}">
    <link rel="stylesheet" href="{% static 'transportAgency/css/tittle.css' %}">
    <link rel="stylesheet" href="{% static 'transportAgency/css/i.css' %}">
{% endblock %}

{% block container %}
<div class="row justify-content-center m-4">
    <div class="title">
        <h1>Tabla de <span style="color: #6BA8A9;">Buses</span></h1>
    </div>
</div>
<div class="container">
    
    <div class="row justify-content-center m-4">
        <div class="col-4 ">
            <form method="post" >
            {% csrf_token %}
                <div class="mb-3">
                    <label for="name-bus" class="form-label">Nombre del bus:</label>
                    <div class="form-group has-feedback">
                        <i class="fa fa-bus form-control-feedback" style="color:#357376;"></i>
                        <input type="text" class="form-control" name="name-bus" id="name-bus" value="{{data.name_bus}}" placeholder="B#_Origen-Destino">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-lg btn-primary" id="button-save" style="color:#fff; background-color: #357376;">Guardar</button>
                </div>
            
            </form>
            <b><p style="color:#ff0000;">{{msg}}</p></b>
        
        </div>
        <div class="col-6">
            <table class="rwd-table">
                <thead>
                    <tr>
                        <th>Nombre del bus</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>	
                    {% for b in buses %}
                    <tr>

                        <td>{{b.name_bus}}</td>
                        <td>
                            <a href="{% url 'transportAgency:editar_bus' b.id %}" class="text-white"><span class="fas fa-edit fa-2x"></span></a>
                        </td>

                    </tr>

                    {% endfor %}		
                </tbody>
            </table>
        
        </div>
    </div>
   
</div>
<br>
<br>




{% endblock container %}


{% block js %}
<script>

    $(function () {

        //'csrfmiddlewaretoken': csrfToken,

    
    })

</script>
{% endblock %}