{% extends "base.html" %}
{% load static %}
{% load transportAgency_filters %}

{% block title %}Listado de buses{% endblock title %}

{% block css %}
    <link href="{% static 'transportAgency/css/busescards.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}

    <div class="container">
        <h1>Listado de buses segun la fecha de reservacion</h1>

        <div class="row">
            {% for b in buses %}


                {% if b.bus__name_bus %}
                 
                
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{b.bus__name_bus}}</h5>
                                <p class="card-text">Fecha de salida: <span style = "color: rgb(207, 77, 77);"> {{b.ticket_reservation }} </span></p>
                                <p class="card-text">Cantidad de pasajeros: <span style="color: rgb(99, 160, 9);">{{b.passanger}}/15</span></p>
                
                                <button 
                                    type="button" 
                                    class="btn btn-info button_passenger "   
                                    data-bs-toggle="modal"
                                    data-bs-target=".passenger"
                                    data-url="{% url 'transportAgency:list_buses' %}" 
                                    data-bus="{{b.bus}}"  
                                    data-reservation="{{b.ticket_reservation | date:'Y-m-d'}}" 
                                    data-token="{{csrf_token }}"
                                > 
                                    Ver pasajeros 
                                </button>
                            </div>
                        </div>   
                    </div>
                    <div class="modal" tabindex="-1" id="passenger">
                        <div class="modal-dialog modal-dialog-centered"">
                            <div class="modal-content">
                                <div class="modal-header "style="color:#fff; background-color: #357376;">
                                    <h5 class="modal-title">Lista de Pasajeros</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:#fff; background-color: #6BA8A9;">
                                    <p>Infor</p>
                                    <div id="infoP">
                                        <table class= "table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Cliente</th>
                                                    <th scope="col">Companion</th>
                                                    <th scope="col">Asiento</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer" style="color:#fff; background-color: #6BA8A9;">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                {% endif %}

            {% endfor %}
        </div>

    </div>


{% endblock container %}


{% block js %}
<script>

    $(function () {

        //'csrfmiddlewaretoken': csrfToken,

        var $buttonPassenger =  $('.button_passenger')

        $buttonPassenger.click(function(){


            var $me             = $(this)
                url             = $me.data('url')
                busId           = $me.data('bus')
                dateReservation = $me.data('reservation')
                token           = $me.data('token')
            
            var ctx = {
                'csrfmiddlewaretoken': token,
                'busId': busId,
                'reservation': dateReservation,
            }
            $('#passenger').modal('show')
            
            $.post(url, ctx, function(response){
                $('.modal').find('.modal-body').html(response.code)

            }, 'json')


            
        })
    })

</script>
{% endblock %}