{% extends "base.html" %}
{% load static %}
{% block title %}Mostrar Tickets{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'transportAgency/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'transportAgency/css/tittle.css' %}">
    <link rel="stylesheet" href="{% static 'transportAgency/css/i.css' %}">
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-center m-4">
        <div class="title">
            <h1>Tabla de <span style="color: #6BA8A9;">Tickets</span></h1>
        </div>
    </div>
    <div>
        <form action="">
            <div class="row justify-content-end">
                <div class="col justify-content-start">
                    <a href="{% url 'transportAgency:ticket_view' %}" class="btn btn-info">Reservación de ticket</a>
                </div>
                <div class="row col-5 mb-4">
                    <input type="date" class="form-control col m-1" name="q" placeholder='fecha'>
                    <button class="btn col-2 m-1">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <!--Tabla y Vista de informacion-->

    <div class="row">
        <div class="shadow col-4" style="padding:50px; border-radius:10px;">
            <div style="text-align:center">
                <h4>Información del Ticket</h4>
            </div>
            <hr class="hr">
            {% if info %}
                <div>
                    <p><b>Fecha de reservación:</b> {{info.ticket_reservation}}</p>
                    <hr class="hr">
                    <p><b>Horario:</b> {{info.routes.schedule}}</p>
                    <hr class="hr">
                    <p><b>Empleado:</b> {{info.employee}}</p>
                    <hr class="hr">
                    <p><b>Consumidor Final:</b> {{info.client}}</p>
                    <hr class="hr">
                    <p><b>Cuidad Origen:</b> {{info.routes.origin}}</p>
                    <hr class="hr">
                    <p><b>Cuidad Destino:</b> {{info.routes.destiny}}</p>
                    <hr class="hr">
                    <p><b>Precio: </b>L.{{info.routes.precio}}</p>
                    <hr class="hr">
                    <p><b>Cantidad de Tickets:</b> {{info.ticket_quantity}}</p>
                    <hr class="hr">
                    <p><b>Precio Total: </b>L.{{info.total_price}}</p>
                    <hr class="hr">
                    <p>
                        <b>Acompañantes:</b>
                        <ol>
                            {% for a in info.companion.all  %}
                                <li>{{a}}</li>
                            {% endfor %}
                        </ol>
                    </p>
                    <hr class="hr">

                    <p>
                        <b>Asientos:</b>
                        <ol>
                            {% for s in info.seating.all  %}
                                <li>{{s}}</li>
                            {% endfor %}
                        </ol>
                    </p>
                    <hr class="hr">
                    <p><b>Bus:</b> {{info.bus}}</p>
                </div>
            
            {% else %}
                <b><p style="color:#ff0000;">No hay información que mostrar</p></b>
            {% endif %}
            
        </div>
        <div class="col-8" >
        <table class="rwd-table" id="id_tabla">
            <thead>
                <tr>
                    <th>Fecha de Reservación</th>
                    <th>Cliente</th>
                    <th>Cantidad</th>
                    <th>Ruta</th>
                    <th>Mostrar Información</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tickets %}

                    {% if t.bus %}
                        <tr>
                            <td data-th="reservacion">{{t.ticket_reservation}}</td>
                            <td>{{t.client}}</td>
                            <td>{{t.ticket_quantity}}</td>
                            <td data-th="ruta">{{t.routes.origin | capfirst}} - {{t.routes.destiny | capfirst}}</td>
                            <td>    
                                <a href="{% url 'transportAgency:info_ticket' t.pk %}" class="text-white"><span class="fa fa-info-circle fa-2x"></span></a>
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                <tr>
                    <td colspan="7" style="color:#ff0000;"><b>No hay</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    
    <br>
    <br>
</div>

{% endblock container %}