{% extends "base.html" %}
{% load static %}
{% block title %}Mostrar Tickets{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'transportAgency/css/table.css' %}">
<link rel="stylesheet" href="{% static 'transportAgency/css/tittle.css' %}">
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-center m-4">
        <div class="title">
            <h1>Tabla de <span style="color: #6BA8A9;">Tickets</span></h1>
        </div>
    </div>
    <div>
        <form action="">
            <div class="row justify-content-end">
                <div class="col justify-content-start">
                    <a href="{% url 'transportAgency:ticket_view' %}" class="btn btn-info">Reserva de ticket</a>
                </div>
                <div class="row col-5 mb-4">
                    <input type="date" class="form-control col m-1" name="q" placeholder='fecha'>
                    <button class="btn col-2 m-1">Buscar</button>
                </div>
            </div>
        </form>
    </div>

    <!--Tabla y Vista de informacion-->

    <div class="row">
        <div class="shadow col-4" style="padding:50px; border-radius:10px;">
            <h3>Informacion del Ticket</h3>
            <hr>
            {% if info %}
                <div>
                    <p>Fecha de reservacion: {{info.ticket_reservation}}</p>
                    <hr>
                    <p>Horario: {{info.routes.schedule}}</p>
                    <hr>
                    <p>Empleado: {{info.employee}}</p>
                    <hr>
                    <p>Consumidor Final: {{info.client}}</p>
                    <hr>
                    <p>Cuidad Origen: {{info.routes.origin}}</p>
                    <hr>
                    <p>Cuidad Destino: {{info.routes.destiny}}</p>
                    <hr>
                    <p>Precio: L.{{info.routes.precio}}</p>
                    <hr>
                    <p>Cantidad de ticket: {{info.ticket_quantity}}</p>
                    <hr>
                    <p>Precio Total: L.{{info.total_price}}</p>
                    <hr>
                    <p>
                        Acompañantes
                        <ol>
                            {% for a in info.companion.all  %}
                                <li>{{a}}</li>
                            {% endfor %}
                        </ol>
                    </p>
                    <hr>

                    <p>
                        Asientos
                        <ol>
                            {% for s in info.seating.all  %}
                                <li>{{s}}</li>
                            {% endfor %}
                        </ol>
                    </p>
                    <hr>
                    <p>Bus: {{info.bus}}</p>
                </div>
            
            {% else %}
                <p>Noy informacion que mostrar</p>
            {% endif %}
            
        </div>
        <div class="col-8" >
        <table class="rwd-table">
            <thead>
                <tr>
                    <th>Fecha de reservacion</th>
                    <th>Cliente</th>
                    <th>Cantidad</th>
                    <th>Ruta</th>
                    <th>Mostrar Informacion</th>
                    
                  
                </tr>
            </thead>
            <tbody>
                {% for t in tickets %}

                    {% if t.bus %}
                        <tr>
                            <td data-th="reservacion">{{t.ticket_reservation}}</td>
                            <td>{{t.client}}</td>
                            <td>{{t.ticket_quantity}}</td>
                            <td data-th="ruta">{{t.routes.origin | capfirst}} - {{t.routes.destiny | capfirst}}</td>
                            <td><a href="{% url 'transportAgency:info_ticket' t.pk %}">Mostrar datos</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                <tr>
                    <td colspan=7>No hay</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    
    <br>
    <br>
</div>

{% endblock container %}