{% extends "base.html" %}
{% load static %}
{% block title %}Programacion de Viajes{% endblock %}
{% block css %}
<link href="{% static 'transportAgency/css/card.css' %}" rel="stylesheet">
{% endblock %}


{% block container %}

<div>
    <h1>Programacion de Viajes</h1>
    <div class="row">
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="tarjeta">
                <div class="tarjeta-text">
                    <span class="date">Tiempo aprox: 10 Horas</span>
                    <h3>De: Danli Hacia: San Pedro Sula</h3>
                    <p>Esperamos que disfrute su viaje</p>
                </div>
                <div class="tarjeta-stats">
                    <div class="stat">
                        <div class="value">L.850</div>
                        <div class="type">Precio</div>
                    </div>
                    <div class="stat_border">
                        <div class="value">A tiempo</div>
                        <div class="type">Disponibilidad</div>
                    </div>
                    <div class="stat">
                        <a class="value" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}