{% extends "base.html" %}
{% load static %}
{% load transportAgency_filters %}

{% block title %}Ticket{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static 'transportAgency/css/ticket.css' %}">
{% endblock %}

{% block container %}
    <div class="container">


        <a href="{% url 'transportAgency:details_ticket' %}" class="btn btn-sm btn-primary">Ver tickets</a>
        <div class="shadow col-8 mt-5 mb-5"  style="padding:25px;margin:auto;">
                <form action="{% url 'transportAgency:ajax_view' %}" method="post" id="frm-ticket">
                    {% csrf_token %}
                        <div class="mb-3" style="width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;">
                                <img src="https://i.pinimg.com/originals/bb/52/e9/bb52e9149a3188a74e63ac2ba4adf5cb.jpg"  class="img-fluid" alt="...">
                        </div>
                        <hr>

                        <!--Rutas-->
                        <div class="mb-3">
                            <label for="route">Rutas: </label>
                            <select name="route" id="route" class="form-select form-control-chosen">
                                <option value="">Seleccione un ruta</option>
                                {% for t in trips  %}
                                    <option value="{{t.pk}}">{{t}}</option>
                                    
                                {% endfor %}
                            </select>
                            <button data-url="{% url 'transportAgency:ajax_view' %}"  style="color:#fff; background-color: #357376;width:150px;" type="button" id="button_route"  class="btn btn-success mt-2 pull-right">Buscar ruta</button>
                        </div>
                    <br>

                    <!--Info de la ruta-->
                    <p id="available">Ticket Disponible: 16</p>
                    <p id="price">Precio: 00.00</p>
                    

                    <hr>

                    <div class="row">
                        <div class="col">
                            <!--Cliente-->
                            <div class="mb-3">
                                <label for="client">Cliente: </label>
                                <select name="client" id="client" class="form-select form-control-chosen">
                                    {% for c in clients  %}
                                        <option value="{{c.pk}}">{{c}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!--Reservacion del ticket a comprar-->
                            <div class="mb-3">
                                <label for="ticket_reservation">Día de la reservación: </label>
                                <input type="date" class="form-control"  name="ticket_reservation" id="ticket_reservation" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <button style="color:#fff; background-color: #357376;width:150px;" type="button" class="btn btn-success mt-4 pull-right" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrar Cliente</button>
                            </div>
                       
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header" style="color:#fff; background-color: #357376;">
                                        <h5 class="modal-title" id="exampleModalLabel" >Registrar Cliente</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="color:#fff; background-color: #6BA8A9;"">
                                         <form action="{% url 'transportAgency:client_view' %}" id="frm-client" method="post">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="first-name" class="col-form-label">Nombre:</label>
                                                <div class="form-group has-feedback">
                                                    <i class="fa fa-user form-control-feedback" style="color:#357376;"></i>
                                                    <input id="first-name" name="first-name" type="text" class="form-control" placeholder="Escriba su nombre">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="last-name" class="col-form-label">Apellido:</label>
                                                <div class="form-group has-feedback">
                                                    <i class="fa fa-user form-control-feedback" style="color:#357376;"></i>
                                                    <input id="last-name" name="last-name" type="text" class="form-control" placeholder="Escriba su apellido">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="phone" class="col-form-label">Teléfono:</label>
                                                <div class="form-group has-feedback">
                                                    <i class="fa fa-phone form-control-feedback" style="color:#357376;"></i>
                                                    <input id="phone" name="phone" type="tel" class="form-control" placeholder="Escriba su número teléfonico">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="col-form-label">Correo:</label>
                                                <div class="form-group has-feedback">
                                                    <i class="fa fa-envelope form-control-feedback" style="color:#357376;"></i>
                                                    <input id="email" name="email" type="email" class="form-control" placeholder="Escriba su correo">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer" style="color:#fff; background-color: #6BA8A9;">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                        <button
                                        data-token="{{csrf_token}}" 
                                        id="button-register" 
                                        data-url="{% url 'transportAgency:client_view' %}"
                                        type="button"
                                        data-action="confirm" 
                                        class="btn btn-primary">Registrar
                                        
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <!--Tickets a comprar-->
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="quantity">Cuantos tickets desea comprar: </label>
                                    <input type="number" class="form-control" value='1' min='1' name="quantity" id="quantity" placeholder="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center">
                                    <button style="color:#fff; background-color: #357376;width:150px;" type="button" class="btn btn-success mt-4 pull-right" id="inputs_id">Generar Cupos</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="inputs_clients"></div>
                        <br>
                        <hr>
                        <button 
                            style="color:#fff; background-color: #357376;"
                            data-token="{{csrf_token}}" 
                            class="btn btn-success pull-right" 
                            id="button-confirm" 
                            data-action="confirm" 
                            data-url="{% url 'transportAgency:ajax_view' %}"
                            data-bs-toggle ="modal"
                            data-bs-target="#confirm-ticket"
                        >
                            Confirmar compra
                        </button>

                    <!-- Modal -->
                
                    <div class="modal fade" id="confirm-ticket" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="color:#fff; background-color: #357376;">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar la compra</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:#fff; background-color: #6BA8A9;"></div>
                                <div class="modal-footer" style="color:#fff; background-color: #6BA8A9;">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                    <button 
                                        style="color:#fff; background-color: #357376;"
                                        data-token="{{csrf_token}}" 
                                        data-url="{% url 'transportAgency:ajax_view' %}" 
                                        class="btn btn-success" 
                                        id="button-reserve" 
                                        data-action="finish" 
                                    >
                                        Proceso de compra
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5"></div>
                </form>
        </div>
    </div>
    
{% endblock  %}


{% block js %}

    <script>

    $(function(){

            // <=============== Parte del cliente =================================================>
            var addButtonClient = $('#inputs_id')
            var quantity = $('#quantity')
            var inputsClients = $('.inputs_clients')

            $(addButtonClient).click(function(event){
                event.preventDefault()
                
                //Agregar la cantidad de inputs segun la cantidad de boletos
                $('.removed').remove()
                if (quantity.val() > 1){
                    $(inputsClients).append('<h5 class="removed">Acompañantes</h5>')
                    for(var i = 0; i < quantity.val() - 1; i++){
                        $(inputsClients).append(
                            `
                            <div class="removed">
                                <div class="mb-3">
                                    <label for="client${i}">Acompañante# ${i + 1}</label>
                                        <select name="client${i}" id="client${i}" class="form-select form-control-chosen">
                                            {% for c in clients  %}
                                                <option value="{{c.pk}}">{{c}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            `
                        )
                    }
                }

            })

            // <================= Parte de la ruta para conseguir la informacion ===================>

            var buttonRoute = $('#button_route')

            $(buttonRoute).click(function(event){
                event.preventDefault()

                var $me = $(this)
                var url = $me.data('url')
                var ctx = {'route': $('#route').val()}

                $.get(url, ctx, function(response){

                    //available_tickets

                    $('#price').text(`Precio: ${response.precio}`)
                }, 'json')

            })



            //<================== Parte para la evaluacion de la compra en del ticket por Ajax POST ================> 

            var $buttonReserve = $('#button-reserve') 
            var $buttonConfirm = $('#button-confirm') 

            $buttonConfirm.click(function(event){
                event.preventDefault()
                
                //Variables route
                var $me = $(this)
                var url = $me.data('url')
                var token = $me.data('token')
                var action = $me.data('action')
                    route  = $('#route')
                    client = $('#client')
                    quantity = $('#quantity')
                    date_ticket = $("#ticket_reservation")

                
                var ctx = {
                    'csrfmiddlewaretoken': token,
                    'route'              : route.val(),
                    'client'             : client.val(),
                    'quantity'           : quantity.val(),
                    'action'             : action,
                    'ticket_reservation' : date_ticket.val(),
                    
                }

                $('#confirm-ticket').modal('show')

                $.post(url, ctx, function(response){
                    alert(response.msg)
                    if(response.error){
                        $('.modal').find('.modal-body').html(response.error)
                    } else {
                    
                        $('.modal').find('.modal-body').html(response.code)
                    }
                    
                    
                    
                })
            })

            $buttonReserve.click(function(event){
                event.preventDefault()
                
                //Variables route
                var $me = $(this)
                var url = $me.data('url')
                var token = $me.data('token')
                var action = $me.data('action')
                    route  = $('#route')
                    client = $('#client')
                    quantity = $('#quantity')
                    date_ticket = $("#ticket_reservation")
                
                
                var ctx = {
                    'csrfmiddlewaretoken': token,
                    'route'              : route.val(),
                    'client'             : client.val(),
                    'quantity'           : quantity.val(),
                    'ticket_reservation' : date_ticket.val(),
                    'action'             : action,
                }

                if (quantity.val() > 1) {
                    for(var i = 0; i < quantity.val() - 1; i++){
                        value = `client${i}` 
                        ctx[value] = $(`#client${i}`).val()
                    }

                }

                console.log(ctx)
                $.post(url, ctx, function(response){
                    $('#confirm-ticket').modal('hide')
                    
                })
            })

            
    })
    //Programacion de cliente
   
        var $buttonRegister = $('#button-register')

        $buttonRegister.click(function(event){
            event.preventDefault()

            //Variables

            var $me = $(this)
            var url = $me.data('url')
            var token = $me.data('token')
            var action = $me.data('accion')
          
            $first_name = $('#first-name')
            $last_name = $('#last-name')
            $phone = $('#phone')
            $email = $('#email')
           
            var ctx = {
                'csrfmiddlewaretoken': token,
                'action' : action,
                'first_name'         : $first_name.val(),
                'last_name'          : $last_name.val(),
                'phone'              : $phone.val(),
                'email'              : $email.val()}
              
                if (!$first_name.val().trim())
                {
                    notify('error', 'Ingrese su nombre');
                    $first_name.focus();
                    return;
                }
                if (!$last_name.val().trim())
                {
                    notify('error', 'Ingrese su apellido');
                    $last_name.focus();
                    return;
                }

                if (!$phone.val().trim())
                {
                    notify('error', 'Ingrese su telefono');
                    $phone.focus();
                    return;
                }

                if (!$email.val().trim())
                {
                    notify('error', 'Ingrese su correo');
                    $email.focus();
                    return;
                } 
                $.post(url, ctx, function(response){
                    notify('success', response.msj)
                },'json')   
                  
        });

        //Validation form client
        

    </script>
{% endblock js %}