{% extends "base.html" %}
{% load static %}
{% block title %}Programacion de Viajes{% endblock %}
{% block css %}
<link href="{% static 'transportAgency/css/card.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'transportAgency/css/tittle.css' %}">
{% endblock %}


{% block container %}

<div>
    <div class="row justify-content-center m-4">
        <div class="title" style="width:400px;">
            <h1>Programación de <span style="color: #6BA8A9;">Viajes</span></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <!--Creacion de cajas-->
            {% for t in travels %}
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        {% if t.state == "1" %}
                        <h5 class="card-title-success">{{t.get_state_display}}</h5>
                        {% elif t.state == "2" %}
                        <h5 class="card-title-warning">{{t.get_state_display}}</h5>
                        {% else %}
                        <h5 class="card-title-danger">{{t.get_state_display}}</h5>
                        {% endif %}
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-success">
                                    <span class="widget-49-date-day">{{t.routes.precio}}</span>
                                    <span class="widget-49-date-month"><b>Lps</b></span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{t.date_trip}}</span>
                                    <span class="widget-49-meeting-time">Tiempo aprox: {{t.routes.route_time}}
                                        horas</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Origen: {{t.routes.origin | capfirst}}</span></li>
                                <li class="widget-49-meeting-item"><span>Destino: {{t.routes.destiny | capfirst }}</span></li>
                                <li class="widget-49-meeting-item"><span>Horario: {{t.routes.schedule}}</span></li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                {% if t.state == "1" %}
                                <a href="{% url 'transportAgency:ticket_view' %}" class="btn btn-sm btn-buy">Ir a reservar</a>
                                {% if request.user.is_superuser %}
                                <button data-id="{{t.pk}}" data-action="confirm-cancel"
                                    data-url="{% url 'transportAgency:cancel_trip' %}"
                                    class="btn btn-sm btn-cancelar button-confirm">CANCELAR</button>
                                {% endif %}
                                {% elif t.state == "2" %}
                                <a href="#" class="btn btn-sm btn-nobusdsy text-danger"><b>No disponible</b></a>
                                {% else %}
                                <a href="#" class="btn btn-sm btn-nobuy text-danger"><b>No disponible</b></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="color:#fff; background-color: #357376;">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar la compra</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="color:#fff; background-color: #6BA8A9;"></div>
                    <div class="modal-footer" style="color:#fff; background-color: #6BA8A9;">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button style="color:#fff; background-color: #357376;" data-token="{{csrf_token}}"
                            data-url="{% url 'transportAgency:cancel_trip' %}" class="btn btn-success button-process"
                            data-action="process-cancel">
                            Cancelar Viaje
                        </button>
                    </div>
                </div>
            </div>

            {% block js %}
            <script>
                $(function () {


                    $('.button-confirm').click(function (event) {


                        var $me = $(this)
                        var id = $me.data('id')
                        var url = $me.data('url')
                        var action = $me.data('action')

                        
                        $.get(url, { 'action': action, 'id': id }, function (response) {
                            if(response.error){
                                notify('error', response.error)
                                
                            } else {
                                $('.modal').modal('show')
                                $('#confirm-modal').find('.modal-body').html(response.html)
                                $('.modal').find('#id-trip').hide()
                                
                            }
                        }, 'json')

                    })



                    $('.button-process').click(function (event) {


                        var $me = $(this)
                        var url = $me.data('url')
                        var action = $me.data('action')
                        var id = $('#id-trip').val()
                        var description = $("#description")


                        if (!description.val().trim()) {
                            description.focus()
                            return
                        }

                        $.get(url, { 'action': action, 'id': id, 'description': description.val() }, function (response) {
                                
                            $('#confirm-modal').modal('hide')
                            location.reload()


                        }, 'json')
                    })
                })
            </script>
            {% endblock %}

        </div>

        {% endblock %}