{% extends "base.html" %}

{% block title %}Travel Scheduling{% endblock  %}




{% block container %}
    <div class="container">
    <h1 class="mb-5" >Viajes programados para hoy</h1>

        <div class="row">
            {% for t in travels  %}
    
                <div class="shadow mb-5 ms-1 col-xl-3 col-lg-3" style="padding:25px;margin:auto;">
                    <strong><p class="text-primary">{{t.routes}}</p></strong>
                    <hr>
                    <p><strong>Horario: </strong>{{t.routes.schedule}}</p>
                    <p><strong>Precio</strong>: {{t.routes.precio}}</p>
                    <strong><p>Tiempo de viaje {{t.routes.route_time}} horas</p></strong>
                    <hr>
                    {% if t.state == "1" %}
                        <strong><p class="text-success text-end"> {{t.get_state_display}}</p></strong>
                    {% elif t.state == "2"%}
                        <strong><p class="text-warning text-end"> {{t.get_state_display}}</p></strong>
                    {% else %}
                        <strong><p class="text-danger text-end"> {{t.get_state_display}}</p></strong>
                    {% endif %}
                </div>
            
            {% endfor %}
        </div>
        

    </div>
    
{% endblock  %}
